/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.10.2017, 22:38:57
    Author     : Jokie
*/
#h2-heading{
    padding-top: 10px;
    margin: 120px 0 0 15px;
    color: dimgray;
    text-decoration:underline;
}
#h3-task{
    color: dimgray;
    font-style: normal;
    margin-bottom: 50px;
}
#h4-category{
    float:right;
    margin-right: 15px;
    color: #778899;
}
p{
    margin-top: -35px;
}
.to-do-list{
    height: auto;
    width: 25%;
    background-color: rgba(228, 213, 170, 0.8); 
    margin: auto;
    border-radius: 10px;
    padding-bottom: 80px;
}
.text{ 
    margin-top: -10px;
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(219, 145, 79)), to(rgb(219, 145, 79)), color-stop(50%, brown));

}
#bottom-line{
    margin-top: auto;

}

#task-button{
    width: 80px;
    height: 40px;
    margin: 10px 30px ;
    float: right;
}
#main-tasks{
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}
#task-check{
    width: 17px;
    height: 17px;
}
#p-background:nth-child(even) {
  background: rgba( 255, 255, 255, 0.8);  ;
  border-radius: 5px;
}



